* {

    /* eyedrop from https://www.visitcalgary.com/ */
    --main-background-color: white;
    --main-color: black;
    --blue-sky-color: #0064ff;
    --sun-color: #ffda24;
    --newsletter-background-color: #40c2f3;
    --newsletter-color: #003b95;
    --chat-icon-color: #e70033;
}